@import url('https://fonts.googleapis.com/css?family=Karla');

/*
    colors palette:
    #E7ECEF - white
    #8B8C89 - gray
    #A3CEF1 - light blue
    #6096BA - blue
    #274C77 -dark blue
*/

body {
    color: black;
	font-family: Karla, sans-serif;
}

.page {
    margin: auto;
    width: 75%;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

/* Users */
div.users {
    flex-grow: 1;
    align-items: center;
    border-right: #8B8C89;
}

.user {
    height: 75px;
    width: 75px;
    margin: 10px;
    border-radius: 50px;
    border: solid 1px #8B8C89;
}

.current-user img:hover {
    color: #8B8C89;
    opacity: 90%;
}

.other-users:hover {
    color: #8B8C89;
}

.current-user {
    background-color: #81A5F9;
    border-radius: 25px;
}

.current-user p {  
    margin: 10px 0px;
    text-align: center;
    color: #E7ECEF;
    line-height: 0px;
    padding: 1px;
    font-size: 30px;
    font-weight: bold;
}

.other-users {
    margin-top: 15px;
}

.other-users img.user {
    opacity: 0.50;
}

.parent {
    height: 1000px;
    width: 500px;
}

.user-details {
    height: 500px;
    width: 300px;
    background-color: powderblue;
    border-radius: 10px;
    margin: 20px 30px;
    padding: 15px;
    position: sticky;
    top: 0;
    flex-direction: column;
}

.user-details img, .current-user img {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin: 10px;
}

.user-details div.username {
    font-size: 50px;
    font-weight: bold;
}


.latest-buttons p {
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    border: solid 1px black;
    padding: 16px;
}

a:visited, a {
    text-decoration: none;
    color: black;
}

.latest-buttons p:hover {
    color: rgb(75, 114, 165);
}

.latest {
    border: solid 1px black;
    width: 90%;
    margin: 20px 30px;
}

.latest-buttons {
    display: flex;
    justify-content: space-evenly;
}

.active p {
    background-color: #b9a899;
}

.buttons {
    height: 60px;
    margin: auto;
    display: flex;
    border: solid 1px black;
    border-radius: 25px;
}

.buttons p:hover {
    color: rgb(75, 114, 165);
}

.buttons p {
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    margin: auto;
}

.show-more {
    margin: 10px auto;
}