.posts-container {
    flex-grow: 10;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    background-color: beige;
}

.post-creation-container {
    margin: 10px 25px;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    background-color: lavender;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#postform {
    width: 100%;
}

.new-post-title-container input {
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.textbox-container {
    width: 100%;
}

.post-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-post {
    width: 100px;
    height: 30px;
}

.textbox-container textarea {
    height: 100px;
    width: 89.9%;
    margin: 10px;
    padding: 12px 20px;
    resize: none;
    border: 2px solid #888;
    border-radius: 10px;
    font-family: Karla, sans-serif;
}

.post {
    width: 70%;
    border: solid 1px #ced1c8;
    align-self: center;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.posts {
    flex-direction: column-reverse;
}

.post-details .username {
    font-weight: bold;
    font-size: 20px;
}

p.home-description {
    width: 95%;
}
.post-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    line-height: 20px;
}

span.comment {
	display: inline-block;
	background-image: url('../icons/comment.png');
	background-size: 20px;
    background-repeat: no-repeat;
	height: 20px;
	width: 100px;
}

span.number {
    display: inline-block;
    width: 100px;
}

span.upvote {
	display: inline-block;
	background-image: url('../icons/upvote.png');
	background-size: 20px;
    background-repeat: no-repeat;
	height: 20px;
	width: 22px;
}

span.downvote {
	display: inline-block;
	background-image: url('../icons/downvote.png');
	background-size: 20px;
    background-repeat: no-repeat;
	height: 20px;
	width: 22px;
}

.actions {
    margin-top: 5px;
    margin-bottom: 10px;
}

.show-more {
    margin: 10px auto;
}

.post {
    display: none;
}

.post:nth-last-child(1), .post:nth-last-child(2), .post:nth-last-child(3) {
    display: flex;
}