
.nav {
    background-color: aqua;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.container {
    border: solid 1px #E1E8ED;
    margin-right: 1rem;
}

.userdetails {
    border-radius: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1%;
    padding-right: 1%;
    flex-grow: 1;
}

.user {
    display: flex;
}

.profilepic img {
    width: 50px;
    border-radius: 25px;
    flex-grow: 1;
}

.username {
    padding-left: 8px;
    font-weight: bold;
    flex-grow: 10;
}

.feed {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    border-bottom: none;
}

.feed div {
    border-bottom: solid 1px #E1E8ED;
}

.newpost {
    margin: 20px;
}

.post {
    background-color:pink;
    padding: 1rem;
}

