body {
    background-color: beige;
}

.page {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.userdetails {
    flex-grow: 1;
}

.posts {
    background-color: blue;
    flex-grow: 4;
}

    .makepost {

    }

    .post1 {
        
    }