body {
    background-color: whitesmoke;
}

.page {
    background-color: azure;
    display: flex;
    flex-direction: row;
}

.userdetails {
    flex-grow: 1;
}

    .profilepic {

    }

    .username {

    }

    .editprofilebutton {
        
    }

.postscontainer {
    background-color: mediumaquamarine;
    flex-grow: 4;
}

    .makepost {
        background-color: white;
    }

    .newpost {
        margin: 20px;
    }

    .post {
        background-color: aqua;
        margin: 20px;
        padding: 10px;
    }