.page {
    display: flex;
    flex-direction: row;
}

.userdetails {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    flex-grow: 1;
    position: relative;
}

.top {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
}

.profilepic {
    background-image: url("profilepic.jpg");
    flex-grow: 1;
    background-color: brown;
}

.profile {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    background-color: bisque;
}

.username {
    font-weight: bold;
    margin: 5px 10px;
}

.name {
    margin: 5px 10px;
}

.bio {
    margin: 25px;
}

.editprofilebutton {
    margin: 20px;
    position: absolute;
    bottom: 0;
}

.interactions {

}

.buttons {

}

.postsbutton {

}

.commentsbutton {

}

.posts {

}

.post1 {
    
}