<!DOCTYPE html>
<html>
    <head>
        <title> Ourverse | {{pagetitle}} </title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        {{> navbar}}

        {{{ body }}}
    </body>
</html>