<!DOCTYPE html>
<html>
    <head>
        <title> Ourverse | {{title}} </title>
    </head>
    <body>
        {{#if page}}
            {{> navbar}}
        {{/if}}

        {{{ body }}}
    </body>
</html>