<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/style-posts.css">

<!-- Outer Container-->
<div class="page flex-row-container">

    <!-- "Users" Container -->
    <div class="flex-column-container users">
        <div class="current-user">
            <!-- make sure to remove pics from public -->
            <img class="user" id="user-selected" src="/static/profilepics/{{username}}.jpg">
            <p class="username" id="current-username"> @{{username}} </p>
        </div>
    </div>

    <!-- Posts container -->
    <div class="posts-container">
        
        <!-- Create Post -->
        <div class="post-creation-container flex-column-container">
            <form id="postform" onsubmit="return false">
                <div class="title-container">
                    <input type="text" id="new-post-title" name="new-post-title" placeholder="Title" required/>
                </div>
                <div class="textbox-container">
                    <textarea form="postform" name="new-post-description" id="new-post-description" class="text" placeholder="What's on your mind?" required></textarea>
                </div>
                <div class="post-button">
                    <button type="submit" id="submit-post" value="Post"> Post </button>
                </div>
            </form>
        </div>
        
        <!-- Timeline -->
        <div class="posts flex-column-container" id="posts-feed">

        </div>

        <!-- "Show More Posts" button -->
        <div class="show-more">
            <button class="buttons" id="home-show-more">
                <p> Show More </p>
            </button>
        </div>
    </div>
</div>