@import url('https://fonts.googleapis.com/css?family=Karla');

body {
    background-color: beige;
    display:flex;
    align-items: center;
}


.inner-login-container{
    height: 50%;
    width: 500px;
	background-color:lavender;
    border-radius: 15px;
	box-sizing: border-box;
	padding: 50px;
}

.login-title{
    text-align: center;
}

.login-box{
    display: flex;
    flex-direction: column;
}

.login-button, .register-button{
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
}

.submit-box{
    display:flex;
    justify-content: center;
}


.credential-input{
    height: 20px;
    border-radius: 10px;
    font-family: Karla, sans-serif;
}

.register-container {
    display:flex;
    justify-content: center;
}

.to-register{
    font-weight: 800;
    cursor: pointer;
}

.register-button{
    cursor: pointer;
    display: block;
    text-align: center;
} 
