@import url('https://fonts.googleapis.com/css?family=Karla');

body {
    color: black;
	font-family: Karla, sans-serif;
}

.home {
    width: 75%;
}

.deleted-page p {
    font-weight: bold;
    font-size: large;
}

.deleted-page {
    display: flex;
    justify-content: center;
}

.page {
    margin: auto;
    padding-top: 80px;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.expanded-container {
    background-color: beige;
    margin:auto;
    padding:15px;
    padding-top: 80px;
    border-radius: 15px;
}

a:visited, a {
    text-decoration: none;
    color: black;
}


.active p {
    background-color: #b9a899;
}

.latest-buttons p {
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    border: solid 1px black;
    padding: 16px;
}

.latest-buttons p:hover {
    color: rgb(75, 114, 165);
}

.latest {
    border: solid 1px black;
    width: 90%;
    margin: 20px 30px;
}

.latest-buttons {
    display: flex;
    justify-content: space-evenly;
}


/*
    Show More Posts Button
*/

.buttons {
    height: 60px;
    margin: auto;
    display: flex;
    border: solid 1px black;
    border-radius: 25px;
}

.buttons p:hover {
    color: rgb(75, 114, 165);
}

.buttons p {
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    margin: auto;
}

.show-more {
    margin: 10px auto;
}

/*
    "End of feed" text
*/
.end-of-feed, .login-to-see-more {
    font-weight: bold;
    text-align: center;
}


#visitor-note {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(202, 70, 70);
    border-radius: 25px;
    background-color: rgb(243, 133, 133);
    margin: 10px;
    width: 80%;
}

#visitor-note p {
    font-weight: bold;
}

#search-notice {
    margin: 10px 25px;
}

.note {
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(233, 198, 198);
    width: 310px;
}

.noinputmsg {
    font-weight: bold;
    color: rgb(163, 28, 28);
}