/*

    Users
    
*/
div.users {
    flex-grow: 1;
    align-items: center;
    border-right: #8B8C89;
}

.user {
    height: 75px;
    width: 75px;
    margin: 10px;
    border-radius: 50px;
    border: solid 1px #8B8C89;
}

.current-user img:hover {
    color: #8B8C89;
    opacity: 90%;
}

.current-user {
    background-color: #81A5F9;
    border-radius: 25px;
    margin: 20px;
}

.current-user p {  
    margin: 10px 0px;
    text-align: center;
    color: #E7ECEF;
    line-height: 0px;
    padding: 1px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.parent {
    height: 1000px;
    width: 500px;
}

.user-details {
    height: 500px;
    width: 300px;
    background-color: powderblue;
    border-radius: 10px;
    margin: 20px 30px;
    padding: 15px;
    top: 0;
    flex-direction: column;
}

.user-details img, .current-user img {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin: 10px;
}

.user-details div.username {
    font-size: 50px;
    font-weight: bold;
}

.comment-user {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 25px;
    border: solid 1px #8B8C89;
}

.comment-username {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 0px;
}

.replied-comment {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}