<link rel="stylesheet" href="/static/css/about.css">
{{!-- <script src="/static/js/login.js" defer></script> --}}

<div class="page">
    <div>
        <h1 class="about-title"> About Page </h1><br>
    </div>
    
    <div class="about-content">
        <p>
            This website was developed as part of a school project, fulfilling the requirements of our CCAPDEV (Web Application Development) class.
        </p>
        <p>
            This project was the culmination of over three months of studying various web development techniques. We aimed to apply the knowledge gained in our CCAPDEV course and show our proficiency in building web applications.
        </p>
        <h2>NPM Packages used:</h2>
        <ul>
            <li>bcrypt@5.1.0</li>
            <li>cookie-parser@1.4.6</li>
            <li>dotenv@16.3.1</li>
            <li>express-handlebars@7.0.7</li>
            <li>express-session@1.17.3</li>
            <li>express@4.18.2</li>
            <li>method-override@3.0.0</li>
            <li>mongodb@5.7.0</li>
            <li>mongoose@7.4.1</li>

        </ul>
    </div>
</div>