<link rel="stylesheet" href="/static/css/edit_profile.css">
<link rel="stylesheet" href="/static/css/user.css">
<script type="module" src="/static/js/edit-profile.js" defer></script>

<div class="edit-div flex-column-container">
    <div class="edit-top flex-row-container">
        <div id="edit-picture">
            <img src="/static/profilepics/{{user.username}}.jpg" alt="Profile Image" id="profile-image">
        </div>

        <div class="edit-userinfo flex-column-container">
            <label for="username"> Username </label>
            <input type="text" id="username" name="username" form="bio-form" placeholder="Enter Your New Username" value=" {{user.username}} ">
            <input type="file" accept="image/*" id="pfp" name="filename" form="bio-form" alt="profile pic" onchange="changePFP(this)" hidden/>
            <label for="pfp" id="edit-pfp"> Change Profile Picture </label>
        </div>
    </div>

    <div class="edit-bottom flex-column-container"> 
        <div class="edit-bio">
            <label for="bio"> Bio </label>
            <textarea name="bio" form="bio-form" id="bio" placeholder="Enter Your New Bio">{{user.bio}}</textarea>
        </div>

        <div class="edit-submit">
            {{!-- <form id="bio-form" onsubmit="saveProfileEdit(event)"> --}}
            <form id="bio-form">
                <input type="submit" value="Save Changes">
            </form>
        </div>
    </div>
</div>