<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/user.css">
<link rel="stylesheet" href="/static/css/post.css">
<script src="/static/js/home.js" defer></script>
<script src="/static/js/create.js" defer></script>

<!-- Outer Container-->
<div class="page flex-row-container home">

    <!-- "Users" Container -->
    <div class="flex-column-container users">
        <div class="current-user">
            <!-- make sure to remove pics from public -->
            <img class="user" id="user-selected" src="/static/profilepics/{{user.username}}.jpg">
            <p class="username" id="current-username"> @{{user.username}} </p>
        </div>
    </div>

    <!-- Posts container -->
    <div class="posts-container">
        {{> makepost }}
        {{> visitor_notice }}
        {{> search_notice}}
        <!-- Timeline -->
        <div class="posts flex-column-container" id="posts-feed">
            
            {{#each posts}}
            {{> post this}}
            {{/each}}
        </div>

        <!-- "Show More Posts" button -->
        <div class="show-more">
            <button class="buttons" id="home-show-more">
                <p> Show More Posts </p>
            </button>
        </div>
        <p class="end-of-feed"> End of Feed </p>
    </div>
</div>