<link rel="stylesheet" href="/static/css/post.css">
<link rel="stylesheet" href="/static/css/user.css">
<script src="/static/js/profile.js" defer></script>

<!-- Outer Container -->
<div class="flex-row-container page">

    <div class="parent">
        <!-- User's Details (Profile picture, username, bio) -->
        <div class="flex-column-container user-details">
            <img id="profile-img" src="data:image/{{ view_user.pfp.contentType }};base64,{{ view_user.pfp.data }}">
            <div class="username" id="profile-username">@{{ view_user.username }} </div>
            <div class="short-description">
                <p id="profile-bio">{{ view_user.bio }}</p>
            </div>
            <button class="buttons" id="edit-profile">
                <p> Edit Profile </p>
            </button>
        </div>
    </div>
    
    <!-- User's Latest Posts/Comments -->
    <div class="flex-column-container latest">
        <div class="latest-buttons flex-row-container">
            <div class="latestposts active" id="latest-posts">
                <p> Latest Posts </p>
            </div>
            <div class="latestcomments" id="latest-comments">
                <p> Latest Comments </p>
            </div>
        </div>

        <!-- User's Latest Posts -->
        <div class="posts flex-column-container" id="latest-feed-posts">
            {{#each posts}}
            {{> post this }}
            {{/each}}
        </div>

        <!-- User's Latest Comments -->
        <div class="posts flex-column-container" id="latest-feed-comments">
            {{#each comments}}
            {{> alt_comment this }}
            {{/each}}
        </div>
        
        <!-- "Show More" buttons -->
        <div class="show-more">
            <button class="buttons" id="show-more-posts">
                <p> Show More Posts </p>
            </button>
            <button class="buttons" id="show-more-comments">
                <p> Show More Comments </p>
            </button>
        </div>
        <p class="end-of-feed"> End of Feed </p>
    </div>
    
</div>