<form id="editCommentForm" class="editCommentForm" name="editCommentForm" onsubmit="return false">
    <fieldset>
        <textarea name="edit-textcomment" class="edit-textcomment" id="edit-textcomment{{num}}" class="text">{{ comment }}</textarea>
        <button id="editComment{{num}}" class="editComment" type="submit"> Submit </button>
        <button id="clearEditComment" type="reset"> Undo Changes </button>
    </fieldset>
</form>