<form id="editCommentForm" class="editCommentForm" name="editCommentForm" onsubmit="return false">
        <fieldset>
            <textarea name="edit-textcomment" id="edit-textcomment" class="text">{{ comment }}</textarea>
            <button id="editComment" type="submit"> Submit </button>
            <button id="clearEditComment" type="reset"> Undo Changes </button>
        </fieldset>
        
    </form>