<form id="createReplyForm" name="createReplyForm" autocomplete="off">
    <fieldset>
        <textarea name="new-reply{{commentNum}}" id="new-reply{{commentNum}}" class="text new-reply" placeholder="Post a Reply..." required></textarea> <br>
        <button id="createReply{{commentNum}}" class="createReply" type="submit"> Submit </button>
        <button id="clearReply" type="reset"> Clear </button>
    </fieldset>
</form>