<div class="post-creation-container flex-column-container">
    <form id="createPostForm" name="createPostForm" onsubmit="return false">
        <fieldset>
            <legend> Create Post </legend>
            <label for="newtitle"> Title </label> <br>
            <input type="text" name="newtitle" id="newtitle" placeholder="Enter Title..." required /> <br>
            <label for="newdesc"> Description </label> <br>
            <textarea name="newdesc" id="newdesc" class="text" placeholder="What's on your mind?" required></textarea> <br>
            <button id="createPost" type="submit"> Submit </button>
            <button id="clearPost" type="reset"> Clear </button>
        </fieldset>
        
    </form>
</div>