<form id="createCommentForm" name="createCommentForm" onsubmit="return false">
    <fieldset>
        <label for="comment"> Post a Comment </label>
        <textarea name="comment" id="comment" class="text" placeholder="Reply..." required></textarea> <br>
        <button id="createComment" type="submit"> Submit </button>
        <button id="clearComment" type="reset"> Clear </button>
        
    </fieldset>
    
</form>