<form id="createReplyForm" name="createReplyForm" onsubmit="return false">
    <fieldset>
        <textarea name="new-reply" id="new-reply" class="text" placeholder="Reply..." required></textarea> <br>
        <button id="createReply" type="submit"> Submit </button>
        <button id="createReply" type="reset"> Clear </button>
        
    </fieldset>
    
</form>