<link rel="stylesheet" href="/static/css/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="/static/js/nav.js" defer></script>

<!-- Navigation Bar -->
<div class="nav-bar" id="navbar">
    <ul class="nav-content">
        <div class="nav-left">
            <li class="nav-home">
                {{!-- <a href="/home" class="home-button" onclick="clearSearch()"> --}}
                <a class="home-button" id="nav-home-button">
                    <i class="fas fa-headphones-alt"></i>
                    <span> Ourverse </span>
                </a>
            </li>

            <li class="nav-search">
                <form class="search-form" onsubmit="enterSearch(event)">
                    <input type="text" placeholder="Search..." name="search", id="search">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </li>
        </div>

        <div class="nav-right">
            <li class="nav-dropdown">
                <button class="dropdown-button" onclick="clickDrop()">
                    <img id="currentUser-navpic" class="nav-user" src="data:image/{{ user.pfp.contentType }};base64,{{ user.pfp.data }}">
                    <p id="currentUser-navuser" class="hidden">{{user.username}}</p>
                </button>
                <div id="dropdown" class="dropdown-content">
                    {{!-- <a class="dropdown-link" textContent="Sign Up" id="Sign Up"></a> --}}
                    {{#each dropdownLinks}}
                    {{> dropdown}}
                    {{/each}}
                </div>
            </li>
        </div>
    </ul>
</div>