<!DOCTYPE html>
<html>
    <head>
        <title> ERROR </title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        {{> navbar}}

        <h1> {{statuscode}} </h1>

        <p> {{errdesc}} </p>

        <a href="/"> Return to Home </a>
    </body>
</html>

<!--
STATUS CODES

200 OK
Request has been successfully served

204 No content
No content to send for the request

301 Moved permanently
URL has changed. Please redirect to *new URL*

304 No content
Response has not changed since last requested

308 Permanent Redirect
Tells the browser to make another request with the URL specified in the 'Location' HTTP response header

400 Bad Request
Server could not understand the request due to invalid syntax

401 Unauthorized
Authentication required to access resource. Please login or provide valid credentials.

403 Forbidden
No permission to access

404 Page Not Found
Resource does not exist

500 Internal Server Error

503 Service Unavailable
Server is down or overloaded

-->