<!DOCTYPE html>
<html>
    <head>
        <title> Ourverse | {{pagetitle}} </title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        {{> navbar}}

        {{{ body }}}
    </body>
</html>